<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>

{%- style -%}
#shopify-section-{{ section.id }} .blog-hero.H-large { height: 520px; }
#shopify-section-{{ section.id }} .blog-hero.H-medium { height: 350px; }
#shopify-section-{{ section.id }} .blog-hero.H-small { height: 255px; }

#shopify-section-{{ section.id }} .blog-header {
    position: relative;
}
#shopify-section-{{ section.id }} .blog-hero img {
  height: 100%;
  width: 100%;
  position: absolute;
}
#shopify-section-{{ section.id }} .side-image {
    position: absolute;
    max-width: 500px;
    top: 0;
    right: 0;
}
#shopify-section-{{ section.id }} .side-image img{
    width: 100%;
}
#shopify-section-{{ section.id }} .blog-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#shopify-section-{{ section.id }}  .blog-title.text-align_left { justify-content: left; }
#shopify-section-{{ section.id }}  .blog-title.text-align_center { justify-content: center; }
#shopify-section-{{ section.id }}  .blog-title.text-align_right { justify-content: right; }
#shopify-section-{{ section.id }} .blog-title h2.heading {
    font-weight: bold;
    color: #fff;
    z-index: 1;
}
#shopify-section-{{ section.id }} .blog-boday {
    background: {{ section.settings.background_color }};
    margin-top: 60px;
}
#shopify-section-{{ section.id }} .blog-boday .article {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block {
    background: #fff;
    width: calc(33.33% - 30px);
    margin-bottom: 50px;
    cursor: pointer;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block.visible-true {
    display: block;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block.visible-false {
    display: none;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-title {
    font-weight: bold;
    margin-top: 0px;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-content {
    padding: 0px 35px;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-content .article-description {
    font-size: 15px;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-image {
    height: 272px;
    padding: 15px;
    width: 100%;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: -25px;
    margin-top: -35px;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-footer {
    margin: 35px;
    display: flex;
    justify-content: space-between;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-footer .post-date {
    border-left: 1px solid #CBCBCB;
    padding-left: 20px;
    font-size: 13px;
    color: #CBCBCB;
}
#shopify-section-{{ section.id }} .blog-boday .article .article-block .article-footer .btn-read-more a {
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    padding: 13px 23px;
    font-weight: bold;
    color: #000;
    border: 2px solid #EC772F;
}
#shopify-section-{{ section.id }} .more-articles {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#shopify-section-{{ section.id }} .more-articles a.btn_more-articles {
    background: #EC772F;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-size: 17.5px;
    font-weight: 600;
    padding: 22px 32px;
    text-decoration: none;
}
@media (max-width: 1100px) {
    #shopify-section-{{ section.id }} .blog-boday .article .article-block {
        width: calc(50% - 30px);
    }
    #shopify-section-{{ section.id }} .blog-boday .article .article-block .article-image img {
        margin: 0px;
    }
}
@media (max-width: 700px) {
    #shopify-section-{{ section.id }} .blog-boday .article .article-block {
        width: 100%;
    }
}
{%- endstyle -%}

<div class="section-content color-{{ section.settings.color_scheme }} ">
    <div class="blog-header">
        <div class="blog-hero H-{{ section.settings.H_hero }}">
            {% if section.settings.image != blank %}
                <img src="{{ section.settings.image | image_url: width: 2000 }}">
            {% endif %}
            {% if section.settings.heading != blank %}
                <div class="blog-title page-width text-align_{{ section.settings.text_align }}">
                    <h2 class="heading {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
                </div>
            {% endif %}
        </div>
        {% if section.settings.side_imag != blank %}
            <div class="side-image">
                <img src="{{ section.settings.side_imag | image_url: width: 500 }}">
            </div>
        {% endif %}
    </div>

    <div class="blog-boday">
        <div class="article page-width">
            {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    <div data-url="{{ block.settings.article.url }}" class="article-block article-{{ forloop.index }} {% if forloop.index <= section.settings.article_count %}visible-true{%else%}visible-false{% endif %}">
                        <div class="article-image">
                            {% if block.settings.article.image != blank %}
                                <img src="{{ block.settings.article.image | image_url: width: large }}">
                            {% endif %}
                        </div>
                        <div class="article-content">
                            <h2 class="article-title {{ section.settings.article_title_size }}">{{ block.settings.article.title }}</h2>
                            <div class="article-description">
                                {% if block.settings.article.excerpt != blank %}
                                    {{ block.settings.article.excerpt | truncate: 200 }}
                                {% else %}
                                    {{ block.settings.article.content }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="article-footer">
                            <div class="post-date">{{ block.settings.article.updated_at | date: "%b %d, %y" }}</div>
                            <div class="btn-read-more"><a href="{{ block.settings.article.url }}">read more</a></div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if section.blocks.size > section.settings.article_count %}
            <div class="more-articles page-width">
                <a href="Javascript:;" class="btn_more-articles">More Articles</a>
            </div>
        {% endif %}
    </div>
</div>

<script>
    $( document ).ready(function() {
        $('#shopify-section-{{ section.id }} .blog-boday .article .article-block').on('click', function() {
            const url = $(this).data('url');
            location.href = url;
        });
    });
</script>

{% schema %}
{
    "name": "Main blog",
    "class": "blog-section",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__1.label"
                },
                {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__2.label"
                },
                {
                    "value": "h0",
                    "label": "t:sections.all.heading_size.options__3.label"
                }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
        },
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                },
                {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                },
                {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "background-2",
                    "label": "t:sections.all.colors.background_2.label"
                },
                {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.all.colors.label",
            "info": "t:sections.all.colors.has_cards_info"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Hero image"
        },
        {
            "type": "select",
            "id": "H_hero",
            "options": [
                {
                    "value": "large",
                    "label": "Large"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "small",
                    "label": "Small"
                }
            ],
            "default": "small",
            "label": "Hero size"
        },
        {
            "type": "select",
            "id": "text_align",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left",
            "label": "Text align"
        },
        {
            "type": "image_picker",
            "id": "side_imag",
            "label": "Side image"
        },
        {
            "type": "header",
            "content": "Settings article"
        },
        {
            "type": "range",
            "id": "article_count",
            "min": 1,
            "max": 25,
            "step": 1,
            "default": 1,
            "unit": "N",
            "label": "Article count"
        },
        {
            "type": "color",
            "id": "background_color",
            "default": "#fff",
            "label": "Background color"
        },
        {
            "type": "select",
            "id": "article_title_size",
            "options": [
                {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__1.label"
                },
                {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__2.label"
                },
                {
                    "value": "h0",
                    "label": "t:sections.all.heading_size.options__3.label"
                }
            ],
            "default": "h2",
            "label": "Article title size"
        }
    ],
    "blocks":  [
        {
            "name": "Article",
            "type": "article",
            "settings": [
                {
                    "type": "article",
                    "id": "article",
                    "label": "Select article"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "Main blog"
        }
    ]
}
{% endschema %}