<div class="page-width">
    <div class="main-content d-flex">
        <div class="grid-item w-50 summary">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'summary' -%}
                        <div class="title m-0">
                            <h2 class="font-36 fw-700 lh-120 m-0">{{ block.settings.heading | escape }}</h2>
                        </div>
                        <p class="font-18 fw-400 lh-160">{{ block.settings.text1 | escape }}</p>
                        <p class="font-18 fw-400 lh-160 m-40">{{ block.settings.text2 | escape }}</p>
                {% endcase %}
            {% endfor %}
        </div>
        <div class="grid-item w-50 d-flex">
            <div class="services w-50">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'services' -%}
                            <div class="title m-0">
                                <h3 class="font-24 fw-500 m-0">{{ block.settings.heading | escape }}</h3>
                            </div>
                            <ul>
                                {% if block.settings.text1 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text1 | escape }}</span></li>{% endif %}
                                {% if block.settings.text2 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text2 | escape }}</span></li>{% endif %}
                                {% if block.settings.text3 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text3 | escape }}</span></li>{% endif %}
                                {% if block.settings.text4 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text4 | escape }}</span></li>{% endif %}
                                {% if block.settings.text5 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text5 | escape }}</span></li>{% endif %}
                                {% if block.settings.text6 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text6 | escape }}</span></li>{% endif %}
                                {% if block.settings.text7 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text7 | escape }}</span></li>{% endif %}
                                {% if block.settings.text8 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text8 | escape }}</span></li>{% endif %}
                            </ul>
                      {% endcase %}
                {% endfor %}
            </div>
            <div class="technology_solutions w-50">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'technology_solutions' -%}
                            <div class="title m-0">
                                <h3 class="font-24 fw-500 m-0">{{ block.settings.heading | escape }}</h3>
                            </div>
                            <ul>
                                {% if block.settings.text1 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text1 | escape }}</span></li>{% endif %}
                                {% if block.settings.text2 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text2 | escape }}</span></li>{% endif %}
                                {% if block.settings.text3 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text3 | escape }}</span></li>{% endif %}
                                {% if block.settings.text4 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text4 | escape }}</span></li>{% endif %}
                                {% if block.settings.text5 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text5 | escape }}</span></li>{% endif %}
                                {% if block.settings.text6 != empty %}<li class="font-15 fw-400 lh-140"><span>{{ block.settings.text6 | escape }}</span></li>{% endif %}
                            </ul>
                      {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Summary",
    "class": "summary",
    "tag": "section",
    "blocks": [
        {
            "name": "Summary",
            "type": "summary",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "textarea",
                    "id": "text1",
                    "label": "Text 1"
                },
                {
                    "type": "textarea",
                    "id": "text2",
                    "label": "Text 2"
                }
            ]
        },
        {
            "name": "Services",
            "type": "services",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "text1",
                    "label": "Text 1"
                },
                {
                    "type": "text",
                    "id": "text2",
                    "label": "Text 2"
                },
                {
                    "type": "text",
                    "id": "text3",
                    "label": "Text 3"
                },
                {
                    "type": "text",
                    "id": "text4",
                    "label": "Text 4"
                },
                {
                    "type": "text",
                    "id": "text5",
                    "label": "Text 5"
                },
                {
                    "type": "text",
                    "id": "text6",
                    "label": "Text 6"
                },
                {
                    "type": "text",
                    "id": "text7",
                    "label": "Text 7"
                },
                {
                    "type": "text",
                    "id": "text8",
                    "label": "Text 8"
                }
            ]
        },        
        {
            "name": "Technology Solutions",
            "type": "technology_solutions",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "text1",
                    "label": "Text 1"
                },
                {
                    "type": "text",
                    "id": "text2",
                    "label": "Text 2"
                },
                {
                    "type": "text",
                    "id": "text3",
                    "label": "Text 3"
                },
                {
                    "type": "text",
                    "id": "text4",
                    "label": "Text 4"
                },
                {
                    "type": "text",
                    "id": "text5",
                    "label": "Text 5"
                },
                {
                    "type": "text",
                    "id": "text6",
                    "label": "Text 6"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Summary"
        }
    ]
}
{% endschema %}