<div class="shopify-page-section" id="what_we_do">
    <div class="text-group page-width">
        <div class="main-content">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'heading' -%}
                        <h2 class="image-with-text__heading color-white font-36 fw-700"> {{ block.settings.heading | escape }} </h2>
                    {%- when 'caption' -%}
                        <p class="image-with-text__text image-with-text__text--caption color-white" {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</p>
                    {%- when 'text' -%}
                        <div class="image-with-text__text rte color-white font-17 fw-400" {{ block.shopify_attributes }}><p>{{ block.settings.text }}</p></div>
                {% endcase %}
            {% endfor %}   
        </div>
    </div>
    <div class="image-group">
        {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url: width: 700 }}">
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "What We Do",
    "class": "what_we_do",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "blocks": [
        {
            "name": "heading",
            "type": "heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                }
            ]
        },
        {
            "name": "caption",
            "type": "caption",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption"
                }
            ]
        },
        {
            "name": "text",
            "type": "text",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "What We Do"
        }
    ]
}
{% endschema %}